body{
	text-align: center;
}

nav.top {
  padding: 10px 20px;
}

nav.top h1 {
  margin: 0;
}

.menu-title {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  border-left: 5px solid #ccc;
}

.top{
	background-color: #add8e6;
}

form{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 2em;
	border-radius: 15px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	max-width: 450px;
	margin: 2em auto;
}

ul{
	list-style: none;
	padding-left: 0;
	font-size: 18px;
}

button {
  display: inline-block; /* ボタンを横並びにする */
  border: none; /* 枠線をなくす */
  border-radius: 5px; /* 角丸をつける */
  padding: 7px 9px; /* ボタンの内側の余白 縦 横 */
  margin: 5px; /* ボタン同士の余白 */
  background-color: #add8e6; /* ボタンの背景色 */
  /*color: white;  ボタンの文字色 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 15px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
}

.back {
  display: inline-block; /* ボタンを横並びにする */
  border: none; /* 枠線をなくす */
  border-radius: 5px; /* 角丸をつける */
  padding: 7px 9px; /* ボタンの内側の余白 縦 横 */
  margin: 5px; /* ボタン同士の余白 */
  background-color: #fa4c64; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  text-align: center; /* ボタンのテキストを中央揃えにする */
  text-decoration: none; /* テキストに下線をつけない */
  font-size: 15px; /* テキストのフォントサイズ */
  cursor: pointer; /* マウスポインタを変更する */
}

form table {
  margin: 0 auto;
}
.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
